.main{
    /* width: 100%; */
    max-width: 1000px;
    /* display: flex; */
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding-top: 2.5rem; */
    padding: 5rem 1rem 1rem 1rem;
    margin: auto;
    min-height: 50vh;
    z-index: 1;
}

.main h1{
    font-size: 2rem;
    padding: 1rem;
}

.main p{
    text-align: left;
    white-space: pre-wrap;
}
html[lang="ae"] .main p {
    text-align: right;
}

.main img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.main .info{
    padding: .5rem 1rem 0 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    
    font-size: .7rem;
}

.main .video{
    display: flex;
    justify-content: center;
}

/* .loading{
    height: 80vh;
    width: 100%;
    align-items: center;
    justify-content: center;
} */

/* @media (max-width:991px){
    .main{
        padding-top: 4rem;
    }
  } */

  .placesDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
  }
  
  .placesList {
    /* max-width: 1200px; */
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center; 
    gap: .6rem;
    z-index: 0;
  }