.main{
    /* width: 100%; */
    max-width: 1000px;
    /* display: flex; */
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding-top: 2.5rem; */
    padding: 5rem 1rem 1rem 1rem;
    margin: auto;
    min-height: 50vh;
    z-index: 1;
    scroll-behavior: smooth;
    /* transition-duration: 500ms; */
}

.article h4{
    padding: 1rem;
}

.article .meta{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: .3rem;
    border: 1px solid aliceblue;
    border-radius: .3rem;
    margin-top: 1rem;
}

.daysNavigation{
    display: flex;
    align-items: center;
    justify-content: center;
}

.daysNavigation a{
    display: inline-block;
    padding: 5px 12px;
    background: rgba(122,122,122,.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter:blur(3px);
    border-radius: 12px;
    text-decoration: none;
    font-weight:500;
    transition: all 0.3s ease-in;
    margin: .2rem;
}

.day {
    padding: 1rem;
    border-top: 1px solid rgba(125,125,125,0.4);
}

.day p{
    font-weight: lighter;
    padding: .3rem;
}

.day .sights{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    max-width: 100%;
}

.button{
    display: inline-block;
    padding: 5px 12px;
    background: rgba(122,122,122,.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter:blur(3px);
    border-radius: 12px;
    text-decoration: none;
    font-weight:500;
    transition: all 0.3s ease-in;
    margin: .2rem;
}

.button:hover {
    background: rgba(111,111,111,.4);
    color: var(--main-active-color);
}

.infoTitle{
    padding: 1rem;
    border-top: 1px solid rgba(125,125,125,0.4);
}

.infoList{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 1rem;
}

.infoList div{
    padding: 1rem;
    margin: 1rem;
    border: 1px solid rgba(125,125,125,0.4);
    border-radius: 1rem;
}



.infoList div p{
    font-weight: lighter;
}

@media (max-width:991px){
    .sights{
        grid-template-columns: repeat(3, 1fr);
        gap: .4rem;
    }

    .daysNavigation{
        flex-wrap: wrap;
        white-space: nowrap;
        max-width: 100%;
    }
    .infoList{
        grid-template-columns: repeat(1, 1fr);
    }
}





