.main{
    /* width: 100%; */
    max-width: 1000px;
    /* display: flex; */
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding-top: 2.5rem; */
    padding: 5rem 1rem 1rem 1rem;
    margin: auto;
    min-height: 50vh;
    z-index: 1;
}

.article h4{
    padding: 1rem;
}

.article .meta{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: .3rem;
    border: 1px solid aliceblue;
    border-radius: .3rem;
    margin-top: 1rem;
}

.article .meta p{
    color: aliceblue;
}

.day {
    padding: 1rem;
    border-top: 1px solid rgba(125,125,125,0.4);
}

.day p{
    font-weight: bold;
    padding: .3rem;
}


