.main {
   margin: 0; padding: 0;
   box-sizing: border-box;
   /* background-color: white; */
   min-height: 100vh;
   outline: none; border: none;
   text-decoration: none;
   align-items: center;
   justify-content: center;
   padding-top: 2.5rem;
}

.section {
  width: 100%;
  padding: 1rem;
  padding-top: 2rem;
  min-height: 100vh;
  /* display: flex;
  padding: 3rem 1rem 1rem 1rem; */
}

.mainDiv{
  width: 100%;
  text-align: center;
}

@media (max-width:991px){
  .section{
    padding-top: 3.2rem;
  }
}