
.header{
    position: fixed;
    top: 0; left: -1rem; right: 1rem;
    transition: all .3s ease-in-out;
    z-index: 1000;
    /* padding: 1rem 1rem 1rem 1rem; */
}
  
.header .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    max-width: 1200px;
}

.header .flex .logo{
    /* font-family: 'Bai Jamjuree', cursive; */
    font-weight: 700;
    font-size: 1rem;
    color: var(--main-active-color);
    padding: .4rem .4rem .4rem .4rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter:blur(10px);
    background-color: rgba(122, 122, 122, 0.4);
    border-radius: .3rem;
    /* border: 1px solid rgba(255, 255, 255, 0.4); */
    margin-left: 1rem;
}

.header .flex .navbar{
    z-index: 100;
    padding: 1rem;
}

.header h2{
    color: var(--main-active-color);
    padding: .4rem .4rem .4rem .4rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter:blur(10px);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: .3rem;
    border: 1px solid #000;
}
  
  .navbar a{
    padding: 0 20px 0 20px;
    transition: all .3s ease-in;
    font-weight: 600;
    z-index: 100;
    color: #fff;
  }
  
  .navbar a:hover{
    color: var(--main-active-color);
  }

  .navbar a.active{
    color: var(--main-active-color);
  }
  
  .menuBtn {
    display: none;
    padding: .1rem 1rem .1rem 1rem;
    background-color: rgba(122, 122, 122, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter:blur(10px);
    border-radius: .3rem;
    /* border: 1px solid rgba(255, 255, 255, 0.4); */
    transition: all .3s ease-in-out;
    scale: 1.3;
  }
  .menuBtn:hover{
    color: #000;
    background-color: rgba(240, 240, 240, 0.4);
  }

  .contactBtn{
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    z-index: 100;
    transition: all 0.3s ease;
  }

  .contactBtn.active{
    right: -14rem;
  }

  .contactBtn:hover{
    animation: shake 0.4s;
  }

  .contactBox{
    display: flex;
    align-items: center;
  }

  .contactBox h4{
    padding: .5rem;
    margin: .5rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter:blur(10px);
    background-color: rgba(124, 124, 124, 0.4);
    border-radius: .5rem;
  }

  .imageSlider {
    display: flex; /* Use Flexbox for horizontal alignment */
    align-items: center;
  }

  .imageSlider button{
    height: 40px;
    width: 40px;
  }


  .imagesDiv {
    display: flex;
    padding: 10px;
  }

  .phoneIcon{
    padding: .9rem;
    color: wheat;
    background: #08A045;
    opacity: 0.9;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.4);
  }

  .flags{
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    width: 60px;
    /* height: 40px; */
    z-index: 100;
    
  }
  .flags .flaglist {
    position: relative;
    left: -5rem;
    transition: all 0.3s ease-in-out;
    z-index: 99;
  }
  .flags .flaglist.active {
    left: 0;
  }

  .flagtext{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
  }
  .flagtext:hover{
    transform: scale(1.15);
  }
  .footer{
    width: 100%;
    align-self: flex-end;
  }
  
  .download{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    border-bottom:.1rem solid #737373;
    border-top:.1rem solid #737373;
    margin-top: 1rem;
  }
  .download h4 {
    text-align: center;
    /* padding: 0.5rem; */
    margin: 0.5rem;
    padding: 0 2rem;
  }
  
  .downloadlinks{
    position: relative;
    margin: .3rem;
    display: flex;
    justify-content: center;
    width: auto;
  }
  .badge{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .6rem;
    /* border: #000 solid 2px; */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter:blur(10px);
    background:rgba(122,122,122,.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter:blur(10px);
    margin: 0.25rem;
    
    text-decoration: none;
    padding: 0.3rem;
  }
  .badge h5{
    color: #000;
    padding: 0 .3rem 0 .3rem;
  }

  .footerContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* gap: 20px; */
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    flex-wrap: wrap;
  }

  .footerCol {
    margin: 1rem;
    justify-content: center;
  }

  .footerCol h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  
  .footerCol a,
  .footerCol p {
    display: block;
    color: gray;
    text-decoration: none;
    margin: 5px;
    transition: all 0.3s ease-in-out;
  }

  .footerCol a{
    justify-content: space-between;
    align-items: center;
  }

  .footerCol a img{
    margin-right: 5px;
    padding: auto;
    margin: auto;
  }

  .footerCol a:hover{
    color: var(--main-active-color);
    text-decoration: underline;
  }
  
  .copyright {
    border-top:.1rem solid #737373;
    padding: 1rem;
    margin-bottom: 3rem;
    text-align: center;
  }
  
  .copyright p {
    font-size: 0.9em;
  }
  @media (min-width:991px){
    .header{
      width: 100vw;
      margin-left: 1rem;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter:blur(10px);
      background-color: rgba(122, 122, 122, 0.2);
    }
  }

@media (max-width:991px){
    .header{
        /* position: relative; */
        padding: 1rem;
    }
    .navbar{
      position: absolute;
      top: -14rem;
      left: 1rem; right: 1rem;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter:blur(10px);
      background-color: rgba(122, 122, 122, 0.6);
      border-radius: .5rem;
      padding: .5rem .5rem;
      margin-left: 2rem;
      scale: 0.6;
      /* border: 1px solid #FF6500; */
      /* border: 1px solid rgba(255, 255, 255, 0.4); */
      transition: all .3s ease-in;
      z-index: 100;
    }
  
    .navbar.active{
      scale: 1;
      top: 5rem;
      z-index: 1000;
    }
  
    .navbar a{
        display: block;
        position: relative;
        padding: .4rem;
        margin:.1rem .3rem;
        color: var(--white);
        border-radius: .5rem;
        font-size: large;
        text-align: center;
    }
  
    .navbar a:hover{
      color: #000;
      background-color: rgba(240, 240, 240, 0.4);
    }
    .menuBtn {
      display: block;
    }

    .download {
      display: flex;
      flex-direction: column;
    }
    .footerCol {
      /* width: 100%; Links take full width on mobile */
      text-align: center;
    }
  }

  /* Mobile view specific styles */
@media (max-width: 768px) {
  .footerContainer {
    grid-template-columns: 1fr; /* Stack columns on mobile */
  }
}

  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-2px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(2px);
    }
  }


  /* Loading Animation */
  .center{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .ring{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    animation: ring 1s linear infinite;
  }
  @keyframes ring {
    0%{
      transform: rotate(0deg);
      box-shadow: 1px 1px 2px #ffa;
    }
    50%{
      transform: rotate(180deg);
      box-shadow: 1px 1px 2px #aaa;
    }
    100%{
      transform: rotate(360deg);
      box-shadow: 1px 1px 2px #fff;
    }
  }
  .ring:before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255,255,255,.3);
  }
  .loadingText{
    color: #737373;
    font-size: 7px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 50px;
    animation: text 2s ease-in-out infinite;
  }
  @keyframes text {
    50%{
      color: black;
    }
  }