.main{
    width: 100%;
    text-align: center;
    padding: 5rem 1rem 1rem 1rem;
    z-index: 1;
    min-height: 100vh;
    overflow: hidden;
}

.main h3{
  font-size: 1rem;
  font-weight: 600;
}
  
  .placesDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
  }
  
  .placesList {
    /* max-width: 1200px; */
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center; 
    gap: .6rem;
    z-index: 0;
  }
  
  .placesList .placeBox{
    position: relative;
    /* height: 12rem; */
    min-width: 20vw;
    aspect-ratio: 1.77/1;
    overflow: hidden;
    border-radius: .4rem;
    text-align: center;
    opacity: 0; /* Initially hidden */
    transform: scale(0.5); /* Initially scaled down */
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  /* Apply the animation when the element becomes visible */
  .placesList .placeBox {
    opacity: 1; /* Make the element visible */
    transform: scale(1); /* Restore original scale */
    animation: zoomIn 1s ease; /* Apply the animation */
  }

  .placeBox .placeImg{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s ease-in;
    border-radius: .4rem;
  }

  .placesList .placeImg:hover{
    transform: scale(1.04);
  }

  .weather{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    left: .4rem;
    top: .4rem;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter:blur(3px);
    padding:.2rem 1rem;
    border-radius: 0.3rem;
  }
  .weather h4{
    padding-right: .4rem;
    font-weight: 400;
    /* font-family: 'Bai Jamjuree', sans-serif; */
  }

  .placesList .placeBox h3{
    position: absolute;
    bottom: .4rem; left: .4rem;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter:blur(3px);
    padding:.2rem 1rem;
    margin-right: 0.4rem;
    border-radius: 0.3rem;
    text-align: left;
    font-weight:lighter;
  }
  
  html[lang="ae"] .placesList .placeBox h4 {
    right: .4rem;
    text-align: right;
  }

  .placesList .placeBox h5{
    position: absolute;
    top: .4rem; right: .4rem;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter:blur(3px);
    padding:.2rem 1rem;
    border-radius: 0.3rem;
    opacity: 0;
    transition: all .3s ease-in;
  }
  .placesList .placeBox:hover h5{
    opacity: 1;
  }

  .loadingSpinnerWrapper{
    position: absolute;
    top: 20%;
    left: 50%;
  }

  .mustSee{
    padding-top: 1rem;
    line-height: 1.4rem;
  }
  .mustSee h2{
    font-size: 1.2rem;
  }
  .mustSee h3{
    font-size: 1.1rem;
  }

  .notfound {
    /* position: relative; */
      align-items: center;
      justify-content: center;
      text-align: center;
      /* padding-top: 2.5rem; */
      padding: 5rem 1rem 1rem 1rem;
  }
  

  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale(0.5);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  
  @media (max-width:991px){
    .placesList{
        grid-template-columns: repeat(3, 1fr);
        gap: .4rem;
    }
  }

@media (max-width:768px){
    .placesList{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:600px){
    .placesList{
        grid-template-columns: repeat(1, 1fr);
    }
}



  /* Loading Animation */
  .center{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
  }
  .ring{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    animation: ring 1s linear infinite;
  }
  @keyframes ring {
    0%{
      transform: rotate(0deg);
      box-shadow: 1px 1px 2px #ffa;
    }
    50%{
      transform: rotate(180deg);
      box-shadow: 1px 1px 2px #aaa;
    }
    100%{
      transform: rotate(360deg);
      box-shadow: 1px 1px 2px #fff;
    }
  }
  .ring:before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255,255,255,.3);
  }
  .loadingText{
    color: #737373;
    font-size: 7px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 50px;
    animation: text 2s ease-in-out infinite;
  }
  @keyframes text {
    50%{
      color: black;
    }
  }