.main {
   font-family: 'Bai Jamjuree', cursive;
   margin: 0; padding: 0;
   box-sizing: border-box;
   /* background-color: white; */
   outline: none; border: none;
   text-decoration: none;
   align-items: center;
   justify-content: center;
}


.section {
  width: 100%;
  display: flex;
  padding: 3rem 1rem 1rem 1rem;
}

.mainDiv{
  width: 100%;
  text-align: center;
}

@media (max-width:991px){
  .section{
    padding: 0 1rem 1rem 1rem;
  }
}