.main{
    /* width: 100%; */
    max-width: 1000px;
    /* display: flex; */
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding-top: 2.5rem; */
    padding: auto;
    margin: auto;
    z-index: 1;
}

.main p{
    white-space: pre-wrap;
}
.main img{
    /* position: relative; */
   width: 100%;
   max-width: 100%;
   aspect-ratio: 1.77/1;
   overflow: hidden;
}

.loading{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translateX(-50%);
}

@media (max-width:991px){
    .main{
        padding-top: 4rem;
    }
  }