.main {
  padding: 5rem 1rem 1rem 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.main .info{
  padding: .5rem 1rem 0 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: .7rem;
}

.author a {
color: #333;
text-decoration: none;
}

.date {
font-size: 0.8em;
color: #888;
}

.article {
/* width: 70%; */
/* background-color: #fff; */
padding: 20px;
/* border: 1px solid #ddd; */
/* border-radius: 5px; */
max-width: 1000px;
}

.aside {
width: 30%;
background-color: #f5f5f5;
padding: 20px;
border: 1px solid #ddd;
border-radius: 5px;
/* margin-left: 20px; */
}

.hero {
position: relative;
display: flex;
flex-direction: column;
align-items: center;
white-space: pre-wrap;
/* padding-top: 20px; */
}

.hero .image{
  position: relative;
  width: 80%;
  aspect-ratio: 16/9;
  margin-bottom: 2rem;
}

.hero .image img {
/* width: 100%; */
/* height: auto; */
border-radius: 5px;
margin-bottom: 15px;
margin-top: 15px;
}

.hero h3{
  font-size: 1rem;
  font-weight: 500;
}

.hero a{
  transition: all .3s ease-in-out;
}

.hero a h2{
  padding: .5rem;
  color: var(--main-active-color);
  font-size: 1rem;
  font-weight: bold;
}

.hero a:hover{
  text-decoration: underline;
  color: var(--main-active-color);
}

.hero h1 {
font-size: 1.5em;
margin-bottom: 1rem;
}

.hero h2{
  padding: .5rem;
  font-size: 1rem;
  font-weight: bold;
}

.hero p{
  font-weight: 300;
}


@media (max-width:768px){
  .main {
    padding: 5rem .3rem .3rem .3rem;
  }
  .hero .image{
    width: 100%;
  }
}